body{
    margin: 0px;
    padding: 0px;
}
.mapContainer{
    margin: auto;
    margin-top: 20px;
    display: grid;
    width: fit-content;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}
.mapTile{
    background-color: rgb(0, 140, 255);
    background-size: cover;
}